@use '../../styles/partials/vars';



.card_foodtruck {
  // display: flex;
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  background-color: #fff;
  overflow: hidden;
  @include BoxShadow(1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    @include BoxShadow(4);
    .card_foodtruck_content_header_img {
      opacity: .5;
    }
    .card_foodtruck_content_header_title {
      transform: translateY(-60px);
    }
    .card_foodtruck_content_header_subtitle {
      transform: translateY(-60px);
    }
    .card_foodtruck_content_description {
      opacity: 1;
      & svg {
        opacity: 1;
        transform: translateY(7px);
      }
      &_adress_street, &_adress_postalcode, &_adress_city {
        opacity: 1;
        transform: translateY(5px);
      }
    }
  }
}

.card_foodtruck_content{
  width: 100%;
  height:100%;
}

.card_foodtruck_content_header{
  // background-color: red;
  width: 100%;
  height:50%;
  text-align: center;
  // padding: 1rem;
  &_img {
  position:relative ;
  margin: auto auto;
  width: 100%;
  height: 5rem;
  object-fit: cover;
  opacity: .8;
  @include BoxShadow(1);
  }
  &_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease-in ;
    text-shadow:  0 1px 1px 0 rgba(0, 0, 0, .14), 
                  0 2px 1px -1px rgba(0, 0, 0, .12), 
                  0 1px 3px 0 rgba(0, 0, 0, .20);


  }
  &_subtitle {
    width: 6rem;
    margin: 0 auto;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: vars.$paleyellow;
    padding: .2rem 0;
    border-radius: .3rem;
    transition: 0.35s ease-in ;

  }
}

.card_foodtruck_content_description {
  display: flex;
  width: 100%;
  height:50%;
  padding: .5rem;
  & svg {
    opacity: 0;
    // transform: translateY(80px);
    transition: 0.2s ease-in ;
    color: vars.$retroredhot;
    height: 1.5rem;
    width: auto;
  }
  &_adress_street {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.3s ease-in ;
  }
  &_adress_postalcodeandcity {
    display: flex;
  }
  &_adress_postalcode {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.4s ease-in ;
  }
  &_adress_city {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.5s ease-in ;
  }
}

// ----- RESPONSIVE ----- //

.card_foodtruck {
  @include for-size(phone-only) {
    width: auto;
    height: 9rem;
    margin-bottom: 0.5rem;
  }
}

.card_foodtruck_content_header_img {
  @include for-size(phone-only) {
      opacity: .5;
  }
}

.card_foodtruck_content_header_title, 
.card_foodtruck_content_header_subtitle {
  @include for-size(phone-only) {
    transform: translateY(-60px);
  }
}

.card_foodtruck_content_description svg{
  @include for-size(phone-only) {
    transform: translateY(17px);
    height: 2rem;
    opacity: 1;
    }
}

.card_foodtruck_content_description_adress_street,
.card_foodtruck_content_description_adress_postalcode,
.card_foodtruck_content_description_adress_city {
  @include for-size(phone-only) {
    transform: translateY(18px);
    opacity: 1;
    }
}

// .card_foodtruck_content_description_adress_postalcodeandcity {
//   @include for-size(phone-only) {
//     transform: translateY(17px);
//     opacity: 1;
//     }
// }
// &_adress_street, &_adress_postalcode, &_adress_city {
//   opacity: 1;
//   transform: translateY(5px);
// }

// .card_foodtruck_img {
//   position:relative ;
//   margin: auto auto;
//   width: 5rem;
//   height: 5rem;
//   border-radius: 2.5rem;
//   object-fit: cover;
//   background-color: vars.$paleyellow;
//   @include BoxShadow(8);

// }

// .card_foodtruck_content{
//   padding: 0 .5rem;
//   display: flex;
//   flex-direction: column;
// }

// .card_foodtruck_content_title {
//   font-size: 1.2rem;
// }

// .card_foodtruck_content_subtitle {
//   display: flex;
// }

// .card_foodtruck_content_category {
//   font-size: .8rem;
//   padding: .4rem;
//   height: 1.5rem;
//   border-radius: 1rem;
//   margin-right: 1rem;
//   text-align: center;
//   text-transform: uppercase;
//   background-color: vars.$retropeach;
// }

// .card_foodtruck_content_rating svg {
//   width: 1rem;
//   color : vars.$retroyellow;
// }

// .card_foodtruck_content_description {
//   display: flex;
//   align-items: center;
//   & svg{
//     width: 1rem;
//     color : vars.$retroredhot;
//     margin-right: .5rem;
//   }
// }

// .card_foodtruck_content_description {
//   display: block;
//   color: vars.$retroredhot;
// }

// .card_foodtruck_content_description_adress {
//   display: flex;
// }

// .card_foodtruck_content_description_details {
//   display: none;
// }

// .card_foodtruck_content_description_adress {
//   display: block;
// }

