@use '../../styles/partials/vars';


.card_foodtruck {
  display: flex;
  width: auto;
  height: auto;
  border-radius: .5rem;
  background-color: #fff;
  overflow: hidden;
  padding: 0.2rem;
  @include BoxShadow(1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card_foodtruck:hover {
  @include BoxShadow(6)

}

.card_foodtruck_img {
  position:relative ;
  margin: auto auto;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  object-fit: cover;
  background-color: vars.$paleyellow;
  @include BoxShadow(8);

}

.card_foodtruck_content{
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
}

.card_foodtruck_content_title {
  font-size: 1.2rem;
}

.card_foodtruck_content_subtitle {
  display: flex;
}

.card_foodtruck_content_category {
  font-size: .8rem;
  padding: .4rem;
  height: 1.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  text-align: center;
  text-transform: uppercase;
  background-color: vars.$retropeach;
}

.card_foodtruck_content_rating svg {
  width: 1rem;
  color : vars.$retroyellow;
}

.card_foodtruck_content_description {
  display: flex;
  align-items: center;
  & svg{
    width: 1rem;
    color : vars.$retroredhot;
    margin-right: .5rem;
  }
}

.card_foodtruck_content_description {
  display: block;
  color: vars.$retroredhot;
}

.card_foodtruck_content_description_adress {
  display: flex;
}

.card_foodtruck_content_description_details {
  display: none;
}

.card_foodtruck_content_description_adress {
  display: block;
}

// ----- RESPONSIVE ----- //

.card_foodtruck {
  @include for-size(phone-only) {
    margin-bottom: 0.5rem;
  }
  @include for-size(tablet-portrait-up) {
    width: 100%;
    height: 100%;
  }
}
