@use '../../styles/partials/vars';

.card_foodtruck {
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  background-color: #fff;
  overflow: hidden;
  @include BoxShadow(1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  //  {
  //   width: auto;
  //   height: 6rem;
  //   margin-bottom: 0.5rem;
  // }
  // @include for-size(tablet-portrait-up) {
  //   height: 8rem;
  // }
  @include for-size(desktop-up) {
    &:hover {
      @include BoxShadow(4);
      .card_foodtruck_content_header_img {
        opacity: .5;
      }
      .card_foodtruck_content_header_title {
        transform: translateY(-60px);
      }
      .card_foodtruck_content_header_subtitle {
        transform: translateY(-60px);
      }
      .card_foodtruck_content_description {
        opacity: 1;
        & svg {
          opacity: 1;
          transform: translateY(7px);
        }
        &_adress_street, &_adress_postalcode, &_adress_city {
          opacity: 1;
          transform: translateY(5px);
        }
      }
    }  
  }
  
}

.card_foodtruck_content{
  width: 100%;
  height:100%;
  // @include for-size(phone-only) {
  //   padding: .5rem;
  // }
  // @include for-size(tablet-portrait-up) {
  //   display:flex;
  // }
}

.card_foodtruck_content_header{
  width: 100%;
  height:50%;
  text-align: center;
  // padding: 1rem;
  @include for-size(tablet-portrait-up) {
    display:flex;
  }
  &_img {
  position:relative ;
  margin: auto auto;
  width: 100%;
  height: 5rem;
  object-fit: cover;
  opacity: .8;
  @include BoxShadow(1);
  // @include for-size(phone-only) {
  //   opacity: 0;
  // }
  // @include for-size(tablet-portrait-up) {
  //   width: 8rem;
  //   height: 8rem;
  // }
}
  &_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease-in ;
    // @include for-size(phone-only) {
    //   transform: translateY(-80px) translateX(-80px);
    // }
    // @include for-size(tablet-portrait-up) {
    //   padding: .5rem;
    //   font-size: 2rem;
    // }
  }
  &_subtitle {
    width: 6rem;
    margin: 0 auto;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: vars.$paleyellow;
    padding: .2rem 0;
    border-radius: .3rem;
    transition: 0.35s ease-in ;
    // @include for-size(phone-only) {
    //   transform: translateY(-100px) translateX(100px);
    // }
    // @include for-size(tablet-portrait-up) {
    //   transform: translateY(10px) translateX(280px);
    //   height: 2rem;
    //   padding: 0.5rem;
    // }
  }
}

.card_foodtruck_content_description {
  display: flex;
  width: 100%;
  height:50%;
  padding: .5rem;
  & svg {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.2s ease-in ;
    color: vars.$retroredhot;
    height: 1.5rem;
    width: auto;
    // @include for-size(phone-only) {
    //   transform: translateY(-15px) translateX(0px);
    //   opacity:1;
    // }
    // @include for-size(tablet-portrait-up) {
    //   transform: translateY(35px) translateX(-320px);
    //   opacity: 1;
    // }
  }
  &_adress_street {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.3s ease-in ;
    // @include for-size(phone-only) {
    //   transform: translateY(-20px) translateX(0px);
    //   opacity:1;
    // }
    // @include for-size(tablet-portrait-up) {
    //   transform: translateY(25px) translateX(-270px);
    //   opacity: 1;
    // }
  }
  &_adress_postalcodeandcity {
    display: flex;
  }
  &_adress_postalcode {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.4s ease-in ;
    // @include for-size(phone-only) {
    //   transform: translateY(-20px) translateX(0px);
    //   opacity:1;
    // }
    // @include for-size(tablet-portrait-up) {
    //   transform: translateY(25px) translateX(-270px);
    //   opacity: 1;
    // }
  }
  &_adress_city {
    opacity: 0;
    transform: translateY(80px);
    transition: 0.5s ease-in ;
    // @include for-size(phone-only) {
    //   transform: translateY(-20px) translateX(0px);
    //   opacity:1;
    // }
    // @include for-size(tablet-portrait-up) {
    //   transform: translateY(25px) translateX(-270px);
    //   opacity: 1;
    // }
  }
}
