@use '../../styles/partials/vars';

.contact_form_element{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: .2rem;
  margin: 5rem auto;
  width: 40rem;
  height: 35rem;
  background-color: #FFF;
  @include BoxShadow(4);
}

.contact_form_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem auto ;
  font-weight: bold;
  color: vars.$palepink;
  text-shadow : 0 1px 1px  rgba(0, 0, 0, .14), 0 2px 1px  rgba(0, 0, 0, .12), 0 1px 3px  rgba(0, 0, 0, .20);
}


.contact-name-nameContact,
.contact-email-emailContact,
.contact-object-objectContact,
.contact-message-messageContact {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999;
  padding: .5rem;
  font-size: 1.5rem;
  color: #666;
  transition: 0.3s ease-in ;
}

.contact-name-nameContact:focus,
.contact-email-emailContact:focus,
.contact-object-objectContact:focus,
.contact-message-messageContact:focus {
  border-bottom: 2px solid vars.$palepink;
}

.contact-name-nameContact:focus ~ .contact-name-nameContact-label,
.contact-email-emailContact:focus ~ .contact-email-emailContact-label,
.contact-object-objectContact:focus ~ .contact-object-objectContact-label {
  color: vars.$palepink;;
}

// placeholder
.contact-name-nameContact-label,
.contact-email-emailContact-label,
.contact-object-objectContact-label,
.contact-message-messageContact-label {
  position: relative;
  cursor: text;
  top: -3.5rem;
  left: .3rem;
  font-size: 1rem;
  color: #999;
}


// textarea
.contact-message-messageContact {
  font-size: 1rem;
  border: 2px solid #999;
  resize: none;
  border-radius: .2rem;
  height: 5rem;
  &:focus {
    outline: none;
    border: 2px solid vars.$palepink;
  }
}

.contact_form_button,
.contact_result_button {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem;
  border: none;
  border-radius: .2rem;
  margin: 1rem auto;
  width:90%;
  background-color: vars.$palepink;
  color: #FFF;
  @include BoxShadow(1);
  transition: all 0.3s;

}

.contact_form_button:hover,
.contact_result_button:hover {
  @include BoxShadow(4);
  transform: scale(1.03);

}

.contact_form_button:active,
.contact_result_button:active {
  @include BoxShadow(2);
    transform: scale(0.98);
}

.contact_result{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: .2rem;
  margin: 5rem auto;
  width: 40rem;
  height: 10rem;
  background-color: #FFF;
  @include BoxShadow(4);
}

.contact_result_message {
text-align: center;
font-size: 1.5rem;
}

// ----- RESPONSIVE ----- //

.contact_form_element {
  @include for-size(phone-only) {
    width: 90%;
    height: 30rem;
    margin-bottom: 0.5rem;
  }
}

.contact_form_title {
  @include for-size(phone-only) {
  font-size: 1.5rem;
}
}
