@use '../../styles/partials/vars';


.footer {
  color: #666;
  position: fixed;
  bottom: 25px;
  display: block;
  width: 100%;
  z-index: 0;
  &_list{
    display: flex;
    justify-content: space-around;
  }
}

// .backoffice {
//   width: 8rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   background-color: vars.$palepink;
//   border: 1px solid vars.$palepink;
//   border-radius: .2rem;
//   @include BoxShadow(1);
//   transition: all 0.3s;
//   &:hover {
//     @include BoxShadow(4);
//     transform: scale(1.03);
//   }
//   &:active {
//     @include BoxShadow(2);
//       transform: scale(0.98);
//   }
// }



// ----- RESPONSIVE ----- //

.footer {
  @include for-size(phone-only) {

    visibility: hidden;
  }
}
