@use '../../styles/partials/vars';


.footer {
  color: #666;
  position: fixed;
  bottom: 25px;
  display: block;
  width: 100%;
  z-index: 0;
  text-transform: uppercase;

  &_list{
    display: flex;
    justify-content: space-around;
  }
}





// ----- RESPONSIVE ----- //

.footer {
  @include for-size(phone-only) {

    visibility: hidden;
  }
}
