@use '../../styles/partials/vars';


.login_form_element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: .2rem;
  margin: 5rem auto;
  width: 30rem;
  height: 35rem;
  background-color: #FFF;
  @include BoxShadow(4);
}

.login_form_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem auto ;
  font-weight: bold;
  color: vars.$orange;
  text-shadow : 0 1px 1px  rgba(0, 0, 0, .14), 0 2px 1px  rgba(0, 0, 0, .12), 0 1px 3px  rgba(0, 0, 0, .20);
}


.login-email-email ,
.login-password-password {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999;
  padding: .5rem;
  font-size: 1.5rem;
  color: #666;
  transition: 0.3s ease-in ;
}

.login-email-email:focus,
.login-password-password:focus
{
  border-bottom: 2px solid vars.$orange;
}

.login-email-email:focus ~ .login-email-email-label,
.login-password-password:focus ~ .login-password-password-label {
  color: vars.$orange;
}

// placeholder
.login-email-email-label,
.login-password-password-label {
  position: relative;
  cursor: text;
  top: -3.5rem;
  left: .3rem;
  font-size: 1rem;
  color: #999;
}

.login_form_button {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem;
  border: none;
  border-radius: .2rem;
  margin: 1rem auto;
  width:90%;
  background-color: vars.$orange;
  color: #FFF;
  @include BoxShadow(1);
  transition: all 0.3s;

}

.login_form_button:hover {
  @include BoxShadow(4);
  transform: scale(1.03);

}

.login_form_button:active {
  @include BoxShadow(2);
    transform: scale(0.98);
}



.login_form_forget {
  font-size: .8rem;
  padding: 0 1rem;
  text-align: right;
  cursor: pointer;
}

.login_form_joinus {
  font-size: .8rem;
  padding: 0 1rem;
  text-align: center;
}


// ----- RESPONSIVE ----- //

.login_form_element {
  @include for-size(phone-only) {
    width: 90%;
    height: 30rem;
    margin-bottom: 0.5rem;
  }
}

.login_form_title {
  @include for-size(phone-only) {
  font-size: 1.5rem;
}
}
