@use '../../styles/partials/vars';


.register_form_element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: .2rem;
  margin: 5rem auto;
  width: 30rem;
  height: 35rem;
  background-color: #FFF;
  @include BoxShadow(4);
  text-shadow : 0 1px 1px  rgba(0, 0, 0, .14), 0 2px 1px  rgba(0, 0, 0, .12), 0 1px 3px  rgba(0, 0, 0, .20);

}

.register_form_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem auto ;
  font-weight: bold;
  color: vars.$palegreendark;
}


.register-name-nameRegister,
.register-email-emailRegister,
.register-password-passwordRegister {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999;
  padding: .5rem;
  font-size: 1.5rem;
  color: #666;
  transition: 0.3s ease-in ;
}

.register-name-nameRegister:focus,
.register-email-emailRegister:focus,
.register-password-passwordRegister:focus {
  border-bottom: 2px solid vars.$palegreendark;
  .register-name-nameRegister-label {
    color: red;
  }
}

// placeholder
.register-name-nameRegister-label,
.register-email-emailRegister-label,
.register-password-passwordRegister-label {
  position: relative;
  cursor: text;
  top: -3.5rem;
  left: .3rem;
  font-size: 1rem;
  color: #999;
}


.register_form_switch {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

// input
// .register-radio-role{ 
// }

// label
.register-radio-role-label{
  padding: .5rem 2rem;
	background-color: #F3F3F3;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	transition: all 0.1s ease-in-out;
  border-radius: .2rem;
  @include BoxShadow(1);


}

.register-radio-role-label:hover {
	cursor: pointer;
  @include BoxShadow(4);
  transform: scale(1.03);
}

.register-radio-role-label:checked {
	background-color: #a5dc86;
  @include BoxShadow(2);
  transform: scale(0.98);
}




// --------------------------------------------





.register_form_button {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem;
  border: none;
  border-radius: .2rem;
  margin: 1rem auto;
  width:90%;
  background-color: vars.$palegreendark;
  color: #FFF;
  @include BoxShadow(1);
  transition: all 0.3s;

}

.register_form_button:hover {
  @include BoxShadow(4);
  transform: scale(1.03);

}

.register_form_button:active {
  @include BoxShadow(2);
    transform: scale(0.98);
}

.login_form_member {
  font-size: .8rem;
  padding: 0 1rem;
  text-align: center;
}


// ----- RESPONSIVE ----- //

.register_form_element {
  @include for-size(phone-only) {
    width: 90%;
    height: 30rem;
    margin-bottom: 0.5rem;
  }
}

.register_form_title {
  @include for-size(phone-only) {
  font-size: 1.5rem;
}
}
