// scheme 01

$paleyellow : #FFD478;
$palepink : #FD9F9D;
$paleorange: #FE7748;
$palegreen: #CBD6C8;
$paleblue: #70B0b0;
$darkgreen : #333E30;

// scheme 02

$pink : #FBC2B7;
$blue : #0C20B3;
$lightblue : #034A82;
$orange : #FA8615;
$yellow: #F8D941;

