@import './partials/reset';
@import './partials/vars';
@import './partials/mixin_material';
@import './partials/mixin';

@import './partials/card';
@import './partials/contact';
@import './partials/error';
@import './partials/footer';
@import './partials/header';
@import './partials/legals';
@import './partials/loginForm';
@import './partials/map';
@import './partials/modal';
@import './partials/modal2';
@import './partials/profil';
@import './partials/register';
@import './partials/result';
@import './partials/searchbar';
@import './partials/team';
@import './partials/welcome';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @use '../styles/partials/vars';


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #F3F3F3;
  font-family: sans-serif;
}

/* custom scrollbar with nesting */
::-webkit-scrollbar {
  width: 20px;
  &-track {
    background-color: #999; /*background color of the scrollbar*/
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  &-thumb {
    background-color: #666; /*base scrollbar cursor color*/
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    &:hover {
      background-color: #333; /*hover scrollbar cursor color*/
    }
  }
  }



// ----- TEST CSS ----- //
// .backoffice {
//   width: 8rem;
//   font-weight: bold;
//   text-transform: uppercase;
//   background-color: purple;
//   border: 1px solid purple;
//   border-radius: .2rem;
//   @include BoxShadow(1);
//   transition: all 0.3s;
//   &:hover {
//     @include BoxShadow(4);
//     transform: scale(1.03);
//   }
//   &:active {
//     @include BoxShadow(2);
//       transform: scale(0.98);
//   }
// }
