@import './partials/reset';
@import './partials/vars';
@import './partials/mixin_material';
@import './partials/mixin';

@import './partials/card';
@import './partials/footer';
@import './partials/header';

@import './partials/map';


  // MODAL //
@import './partials/modal';
  // /MODAL //

@import './partials/result';
@import './partials/searchbar';







body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #F3F3F3;
  font-family: sans-serif;
}

/* custom scrollbar with nesting */
::-webkit-scrollbar {
  width: 20px;
  &-track {
    background-color: #999; /*background color of the scrollbar*/
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  &-thumb {
    background-color: #666; /*base scrollbar cursor color*/
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    &:hover {
      background-color: $paleblue; /*hover scrollbar cursor color*/
    }
  }
  }



// ----- TEST CSS ----- //
