.profil_nickname {
  display: flex;
  justify-content: center;
}

.title_profil_pro{
  display: flex;
  justify-content: center;
}

.society_profil_pro{
  display: flex;
  justify-content: center;
}


.footer {
  color: #666;
  position: fixed;
  bottom: 25px;
  display: block;
  width: 100%;
  
  &_list{
    display: flex;
    justify-content: space-around;
  }
}
