.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  display: flex;
  align-items: center;
  &_img img {
    height :50px;
  }
  &_title {
    font-size: 3em;
    letter-spacing: -4px;
  }
}

.login {
  & button {
    color : none;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
  }
  &_img img{
    height :50px;
  }
}



