.result_title {
  text-align: center;
  // font-size: 1.5rem;
  font-weight: bold;
}

.result {

  display: flex;
  align-content: space-around;
  width: 90%;
  // padding: .5rem;
  border-radius: .5rem;
  margin: 1rem auto;
  // background-color: #FFF;
}
.result_map {
  width:  30rem;
  height: 30rem;
  margin-right: .5rem;
}

.result_cards {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 2fr));
  justify-content: space-between;
  justify-content: center;
  width: 90rem;
  height: 30rem;
  overflow: auto;
  border-radius: .5rem;
  padding-right: 1rem;
    background-color: #FFF;

}

.result_cards:hover > * {
opacity: .3;
transition: .3s ease-in-out;
}

.result_cards:hover > *:hover {
opacity: 1;
}

// @media (max-width:320px) {
//   // RESULTS
//   .result {
//     width: 95%;
//   }
//   .result_map {
//     display: none;
//   }
//   .result_cards {
//     display: none;
//   }
//   .footer {
//     opacity: 0;
//   }
// }

// @media (max-width: 500px) {
//   // RESULTS
//   .result {
//     width: 95%;
//   }
//   .result_map {
//     display: none;
//   }
//   .result_cards {
//     display: block;
//   }
//   .footer {
//     opacity: 0;
//   }
// }

// @media (max-width: 1450px) and (orientation : portrait) {
//   // RESULTS
//   .result {
//     display: block;
//     &_cards{
//       display: block;
//     }
//   }
// }

// @media (min-height: 1025px) and (orientation : portrait) {
//   // RESULTS
//   .result {
//     &_cards{
//       display: block;
//     }
//   }
// }







