.geocode {
  display: flex;
  width: 90%;
  height: 400px;
  margin: 0rem auto 1rem;
  border-radius: 50px;
  }

.overlays {
  width: 100%;
}

.mapboxgl-map {
  border-radius: 0.5rem;
}

// PERMET DE 'CACHER' LE LOGO MAPBOX ET LE COPYRIGHT EN BAS DE LA CARTE
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-bottom-left {
  display: none;
}
